<section class="todoapp">
  <header class="header">
    <h1>{{label}}</h1>
    <form (submit)="appendItem(newTodoInput.value); newTodoInput.value=''">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />
    </form>
  </header>
  <section class="main">
    <input *ngIf="items.length>0" class="toggle-all"
            type="checkbox" (click)="toggleAll()"
            name="toggleAll"
    />
  </section>
  <footer class="footer">
    <ul class="filters">
      <li>
        <a [ngClass]="{selected: filter==='all'}" (click)="filter='all'">Tous</a>
      </li>
      <li>
        <a [ngClass]="{selected: filter==='active'}" (click)="filter='active'">Actifs</a>
      </li>
      <li>
        <a [ngClass]="{selected: filter==='ok'}" (click)="filter='ok'">Complétés</a>
      </li>
      </ul>
      <ul class="filters">
      <li>
        <a class="clear-completed" *ngIf="itemsOk.length>0" (click)="allDelete(itemsOk)">SupprimerCochées</a>
      </li>
      <li>
        <a *ngIf="items.length>1" (click)="allDelete(items)">ToutSupprimer</a>
      </li>
      </ul>
      <ul class="filters">
      <li>
        <a *ngIf="items.length>0" (click)="todoService.createQrcode()">AfficherQR</a>
      </li>
      <li>
        <a *ngIf="items.length>0" (click)="todoService.cacherQrcode()">CacherQR</a>
      </li>
    </ul>
    <span class="todo-count"> Vous avez {{itemsActive.length}} tache/es restantes</span>
  </footer>
</section>
<hr/>
<div class="qrcode" *ngIf="todoService.myAngularxQrCode">
  <qrcode [qrdata]="todoService.myAngularxQrCode" [width]="250" [errorCorrectionLevel]="'M'"></qrcode>
</div>
<!-- Version debug de la liste V5, suppression de l'item 
<h2>Debug V5</h2>
<ul>
    <li *ngFor="let item of filterItems()">
        <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="itemDone(item,$event)" />
        <form (submit)="itemLabel(item, newLab.value)">
            <input type="text" name="label" [ngModel]="item.label" #newLab/>
        </form>
        <pre>{{item|json}}</pre>
    </li>
</ul>
-->
<ul class="todo-list">

  <app-todo-item *ngFor="let item of filterItems()" [todoItem]="item" ></app-todo-item>

</ul>
<h3>Commandes</h3>
<p>"Controle+B" pour Tout Cocher ou Tout Decocher</p>
